<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>#{indexController.categoryPageTitle}</title>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="content">
                <div id="bookShow">
                    <h2><h:outputText value="#{indexController.categoryPageTitle}"/></h2>
                    <ui:repeat var="book" value="#{indexController.categoryBooks}" varStatus="status">
                        <div class="bookThumb">
                            <h:form>
                                <h:commandLink action="#{bookController.showBook()}">
                                    <img class="bookSmallImg" src="#{book.imageUrl}"></img>
                                    <h5><h:outputText value="#{book.title}"/></h5>
                                    <f:param name="isbn" value="#{book.isbn}" />
                                </h:commandLink>
                            </h:form>
                            <h:outputText value="by #{book.author}"/><br></br>
                            <h:outputText value="ISBN: #{book.isbn}"/>
                        </div>
                    </ui:repeat>
                </div>
                <div id="sideBar">
                    <h:form>
                        <h:inputText class="searchText form-control" value="#{indexController.searchQuery}" p:placeholder="title, author or isbn"/>
                        <h:commandButton class="btn btn-primary" action="search.xhtml" value="Search">
                        </h:commandButton>
                        </h:form>
                    <div class="clear">
                        <p></p>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">News &amp; Events</h3>
                        </div>
                        <div class="panel-body">
                            <p><span class="glyphicon glyphicon-hand-right"></span> Access all databases through our new databases guide</p>
                            <p><span class="glyphicon glyphicon-hand-right"></span> Quick study guides - tips for exams, essays</p>
                            <p><span class="glyphicon glyphicon-hand-right"></span> Changes to access over exam study period</p>
                            <p><span class="glyphicon glyphicon-hand-right"></span> What's new: Monash Books Management System</p>
                            <p><span class="glyphicon glyphicon-hand-right"></span> Fair Use proposal: how your teaching and research will benefit</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Opening Hours</h3>
                        </div>
                        <div class="panel-body">
                            <p><b>Sunday: </b>10am-9pm</p>
                            <p><b>Monday: </b>8am-12midnight</p>
                            <p><b>Tuesday: </b>8am-12midnight</p>
                            <p><b>Wednesday: </b>8am-12midnight</p>
                            <p><b>Thursday: </b>8am-12midnight</p>
                            <p><b>Friday: </b>8am-12midnight</p>
                            <p><b>Saturday: </b>10am-9pm</p>
                        </div>
                    </div>
                </div>
                
                <div class="clear">
                    <p></p>
                </div>  
            </ui:define>
        </ui:composition>
    </h:body>
</html>

