<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Login Error</title>
    </h:head>
    <h:body>
        <ui:composition template="admin/master.xhtml">
            <ui:define name="content">
            <h2 style="text-align: center;">Authentication Error</h2>
            <hr></hr>
            <p style="text-align: center; color: #FF0000;">The user credentials you have supplied are incorrect.</p>
            <p style="text-align: center;">Please attempt to <h:link outcome="adminLogin" value="login" /> again.</p>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

