<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Registration</title>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="content">
                <h2 style="text-align: center;">Sign Up</h2>
                <hr></hr>
                <div id="signUpInput">
                    <h:form>
                        <h:panelGroup rendered="#{empty loginController.loginedPatron}">
                            <div class="errorAlert">
                                <b><h:outputText class="signUpErrorMessage" value="#{loginController.signUpErrorMessage}" rendered="#{empty loginController.loginedPatron}"></h:outputText></b>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not empty loginController.loginedPatron}">
                            <div class="errorAlert">
                                <b><h:outputText class="signUpErrorMessage" value="#{loginController.errorMessage}" rendered="#{not empty loginController.loginedPatron}"></h:outputText></b>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{empty loginController.loginedPatron}">
                            <h:inputText class="form-control nameInput" value="#{loginController.name}" p:placeholder="name"></h:inputText><br></br>
                            <h:inputText class="form-control emailInput" value="#{loginController.email}" p:placeholder="email"></h:inputText><br></br>
                            <h:inputText class="form-control phoneInput" value="#{loginController.phone}" p:placeholder="phone number"></h:inputText><br></br>
                            <h:inputSecret class="form-control passwordInput" value="#{loginController.password}" p:placeholder="password"></h:inputSecret><br></br>
                            <h:inputSecret class="form-control rePasswordInput" value="#{loginController.rePassword}" p:placeholder="confirm password"></h:inputSecret><br></br>
                            <h:commandButton class="btn btn-primary signUpBtn" action="#{loginController.signUp()}" value="Sign Up"></h:commandButton>
                        </h:panelGroup>
                    </h:form>
                </div>
            </ui:define>
    </ui:composition>
    </h:body>
</html>

